.App {
  text-align: center;

  background-repeat: repeat;
}
.card {
  background-color: cornsilk;
}

.display-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.position-absolute {
  position: absolute;
}
.headerName {
  color: aliceblue;
}
