.App {
  text-align: center;
  background-image: url("C:\Users\Shan\Desktop\project\New folder\datamining\src\cover\back.png");
}
.card {
  background-color: cornsilk;
}

.display-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.position-absolute {
  position: absolute;
}
.headerName {
  color: aliceblue;
}
